<ion-header>
  <ion-navbar>
    <ion-title>
      Gyakorlatok szerkesztése
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button block (click)="AddGyak()">Gyakorlat hozzáadása</button>
  <ion-list *ngIf="add == true">

    <ion-item>
      <ion-label floating>Ikon (URL)</ion-label>
      <ion-input type="text" [(ngModel)] = "url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Név</ion-label>
      <ion-input type="text" [(ngModel)] = "name"></ion-input>
    </ion-item>
    <button ion-button block (click)="SaveGyak()">Mentés</button>
  </ion-list>
  
  <br><br>
  <ion-card *ngFor="let gyak of gyakList">
    <img src="{{ gyak.url }}"/>
    <ion-card-content>
      <ion-card-title text-right>
        {{ gyak.name }}
        </ion-card-title>
      <p>
        <br>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
