<ion-header>
  <ion-navbar>
    <ion-title>
      Gyakorlatok szerkesztése
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button block (click)="AddGyak()" *ngIf="add == false">Gyakorlat hozzáadása</button>
    <button ion-button block (click)="AddGyak()" *ngIf="add == true">Mégse</button>
  <ion-list *ngIf="add == true">

    <ion-item>
      <ion-label floating>Ikon (URL)</ion-label>
      <ion-input type="text" [(ngModel)] = "url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Név</ion-label>
      <ion-input type="text" [(ngModel)] = "name"></ion-input>
    </ion-item>
    <button ion-button block (click)="SaveGyak()">Mentés</button>
  </ion-list>
  
  <br><br>
  <ion-list>
    <ion-item *ngFor="let gyak of gyakList; let i = index">
      <ion-thumbnail item-start>
          <img src="{{ gyak.url }}"/>
      </ion-thumbnail>
      <h2>{{ gyak.name }}</h2>
      <ion-buttons end>
          <button ion-button clear icon-only>
            <ion-icon name="construct"></ion-icon>
          </button>
          <button ion-button clear icon-only (click)="DeleteThis(i)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="DeleteSheet()">Összes törlése</button>
</ion-content>
