<ion-header>
  <ion-navbar>
    <ion-title>Új edzés</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    
    <button ion-item (click)="DateClick()">
      <ion-icon name="calendar" item-start></ion-icon>
      {{ date | date:"yyyy. MM. dd." }}
    </button>
  </ion-list>

  <ion-list no-lines *ngFor="let eGyak of edzesGyak.array">
    <ion-item>
      <ion-label>Gyakorlat</ion-label>
      <ion-select [(ngModel)]="eGyak.name">
        <ion-option *ngFor="let gyak of gyakList" value="{{ gyak.name }}">{{ gyak.name }}</ion-option>
      </ion-select>
    </ion-item>
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Mennyiség</ion-label>
                <ion-input type="number" min=0 [(ngModel)]="eGyak.value"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-select [(ngModel)]="eGyak.type">
                <ion-option value="db">db</ion-option>          
                <ion-option value="perc">perc</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-list>
  
  

  

  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
      <button ion-button block color="secondary" icon-start (click)="AddGyak()">
        <ion-icon name="add"></ion-icon>
        Gyakorlat
      </button>
    </ion-col>
  <ion-col col-6>
      <button ion-button block color="danger" icon-right (click)="RemoveGyak()">
        Utolsó törlése
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button block (click)="SaveEdzes()">Mentés</button> 
</ion-content>
